#!/bin/sh

DIR=$(cd $(dirname ${BASH_SOURCE:-$0}); pwd)
cd ${DIR}

INDEX_PATH=/tmp/images-ffmpeg.json
EXT_PATH=/tmp/media-indexer.video.ext

sudo rm -rf /tmp/pulseaudio.socket
pactl load-module module-native-protocol-unix socket=/tmp/pulseaudio.socket
sudo rm -f /tmp/pulseaudio.client.conf
cat > /tmp/pulseaudio.client.conf <<_EOF_
default-server = unix:/tmp/pulseaudio.socket
# Prevent a server running in the container
autospawn = no
daemon-binary = /bin/true
# Prevent the use of shared memory
enable-shm = false
_EOF_

sudo docker pull novsyama/ffplay-cli
sudo docker run --rm -it \
 --env PULSE_SERVER=unix:/tmp/pulseaudio.socket \
 --env PULSE_COOKIE=/tmp/pulseaudio.cookie \
 --volume /tmp/pulseaudio.socket:/tmp/pulseaudio.socket \
 --volume /tmp/pulseaudio.client.conf:/etc/pulse/client.conf \
 --user $(id -u):$(id -g) \
 -v ${INDEX_PATH}:${INDEX_PATH} \
 -v ${EXT_PATH}:${EXT_PATH} \
 novsyama/ffplay-cli \
 /ffplay-cli/ffplay-cli -index ${INDEX_PATH} -ext ${EXT_PATH} -substr pathstring -volume 10

